.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.nav-item {
    list-style: none;
    transition: all ease 0.5s;
}

.nav-item a {
    padding: 6px;
    text-decoration: none;
    color: var(--white);
    transition: all ease 0.5s;
}

.nav-item a:hover {
    color: var(--red);
}
